<!DOCTYPE HTML>
<html>
<head>
<title>SAML SSO Demo</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<link
	href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" crossorigin="anonymous" />
</head>
<body>
	<div class="container" align="center">
		<form th:action="${idpDiscoReturnURL}">
			<h2 align="center">Welcome to SSO Stores!</h2>
			<br>
			<p th:each="idp : ${idps}">
					<input type="radio" th:name="${idpDiscoReturnParam}"
						th:id="'idp_' + ${idp}" th:value="${idp}" /> Okta
			</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				style="width: 300px;">SIGN IN with SAML</button>
		</form>
	</div>
</body>
</html>